﻿@page
@using Westwind.AspNetCore.Markdown

@model WebApp.Areas.Identity.Pages.Account.Manage.GetUserCollModel
@{
}

<div>
<a class="btn btn-primary" asp-area="" asp-controller="UserColl" asp-action="CreateColl">New collection</a>
</div>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-3 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-3 justify-content">
            @foreach (var coll in Model.Collections)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <a asp-action="GetById" asp-controller="UserColl" asp-route-id="@coll.Id" style="text-decoration: none;">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Items: @coll.Items.Count()</div>
                            <img class="card-img-top" src="@coll.Image" alt="Generic placeholder image" style="max-height:200px">
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">@coll.Name</h5>
                                    <div>@(Markdown.ParseHtmlString(coll.Description.ToString()))</div>
                                    <p class="card-text">Theme: @coll.Theme.Name</p>
                                </div>
                            </div>
                        </a>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                    <div class="card-body">
                                        <form asp-action="DeleteColl" asp-route-id="@coll.Id" method="post" class="row">
                                            <div class="col text-center">
                                                @*<a asp-action="EditColl" asp-controller="User" asp-route-id="@coll.Id" class="btn btn-danger">Edit</a>*@
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </div>
                                        </form>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
