﻿@using Microsoft.AspNetCore.Mvc.Localization

@inject IHttpContextAccessor httpContextaccessor
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
        @{
        string theme;
        if (httpContextaccessor.HttpContext.Request.Cookies["theme"] == null)
        {
            theme = "White";
        }
        else
        {
            theme = httpContextaccessor.HttpContext.Request.Cookies["theme"].ToString();
            if (theme == "White")
            {
                <link rel="stylesheet" href="~/css/white.css" />
            }
            if (theme == "Dark")
            {
                <link rel="stylesheet" href="~/css/dark.css" />
            }
        }
    }
</head>

<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebApp</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["NavHome"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="UserColl" asp-action="GetCollSort">@Localizer["NavColl"]</a>
                            </li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Index">@Localizer["NavAdmin"]</a>
                                </li>
                            }
                        </ul>

                        <form asp-action="Search" asp-controller="Home" class="input-group" style="max-width:20%">
                            <input name="search" type="search" class="form-control" placeholder="" aria-label="" aria-describedby="button-addon2">
                            <button class="btn btn-outline-success" type="submit" id="button-addon2">@Localizer["Search"]</button>
                        </form>

                        @*                        @if (User.Identity.IsAuthenticated)
                            {
                            <div class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="UserColl" asp-action="GetColl">@Localizer["NavMyColl"]</a>
                            </div>
                            }*@

                        <div class="nav-item">
                            <partial name="_LoginPartial" />
                        </div>
                        <div class="nav-item">
                            @await Html.PartialAsync("_SelectLanguagePartial")
                        </div>
                        @if (@httpContextaccessor.HttpContext.Request.Cookies["theme"] == null)
                        {
                            <div class="nav-item">
                                <button type="button" value="White" id="theme" class="btn">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-half" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
                                    </svg>
                                </button>
                            </div>
                        }
                        else
                        {
                            <div class="nav-item">
                                <button type="button" value="@httpContextaccessor.HttpContext.Request.Cookies["theme"].ToString()" id="theme" class="btn">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-half" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
                                    </svg>
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                <div id="app">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
            $("#theme").click(function () {
            var item = $("#theme").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("SetTheme", "Home")",
                data:
                {
                    data: item,
                },
                success: function () {
                   window.location.reload();
                }
            });
        })
    </script>
</body>
</html>
