﻿@model WebApp.Models.CommentModel

<div class="panel panel-info">
    <div class="panel-heading">
        Comments:
    </div>
    <form asp-action="Create" asp-controller="Comment" method="post">
        <div class="panel-body comments">
            <textarea asp-for="Text" type="text" class="form-control" placeholder="Create your comment" rows="5"></textarea></>
            <br>
            <input asp-for="ItemId" hidden value="@Model.ItemId">
            <button type="submit" class="btn btn-primary">Send</button>
            <div class="clearfix"></div>
        </div>
    </form>
</div>