﻿ @model List<CommentModel>

@foreach (var com in Model.ToList())
{
    <hr>
    <ul class="media-list">
        <li class="media">
            <div class="comment">
                <div class="media-body">
                    <strong class="text-success">@com.User.UserName</strong>
                    <span class="text-muted">
                        <small class="text-muted"> @com.CreatedDate.ToLongDateString()</small>
                    </span>
                    <p>
                        @com.Text
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </li>
    </ul>
}