html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.main-section {
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
    background-color: #fff;
    box-shadow: 0px 0px 20px #c1c1c1;
}

.fileinput-remove,
.fileinput-upload {
    display: none;
}


.box {
    position: relative;
    background: #ffffff;
    width: 100%;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 10px;
}

.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

.dropzone-wrapper {
    border: 2px dashed #91b0b3;
    color: #92b0b3;
    position: relative;
    height: 150px;
}

.dropzone-desc {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 40%;
    top: 50px;
    font-size: 16px;
}

.dropzone,
.dropzone:focus {
    position: absolute;
    outline: none !important;
    width: 100%;
    height: 150px;
    cursor: pointer;
    opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
    background: #ecf0f5;
}

.preview-zone {
    text-align: center;
}

    .preview-zone .box {
        box-shadow: none;
        border-radius: 0;
        margin-bottom: 0;
    }

.btn-primary {
    background-color: crimson;
    border: 1px solid #212121;
}

.bs-calltoaction {
    position: relative;
    width: auto;
    padding: 15px 25px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

    .bs-calltoaction > .row {
        display: table;
        width: calc(100% + 30px);
    }

        .bs-calltoaction > .row > [class^="col-"],
        .bs-calltoaction > .row > [class*=" col-"] {
            float: none;
            display: table-cell;
            vertical-align: middle;
        }

.cta-contents {
    padding-top: 10px;
    padding-bottom: 10px;
}

.cta-title {
    margin: 0 auto 15px;
    padding: 0;
}

.cta-desc {
    padding: 0;
}

    .cta-desc p:last-child {
        margin-bottom: 0;
    }

.cta-button {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 991px) {
    .bs-calltoaction > .row {
        display: block;
        width: auto;
    }

        .bs-calltoaction > .row > [class^="col-"],
        .bs-calltoaction > .row > [class*=" col-"] {
            float: none;
            display: block;
            vertical-align: middle;
            position: relative;
        }

    .cta-contents {
        text-align: center;
    }
}



.bs-calltoaction.bs-calltoaction-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.bs-calltoaction.bs-calltoaction-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.bs-calltoaction.bs-calltoaction-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.bs-calltoaction.bs-calltoaction-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.bs-calltoaction.bs-calltoaction-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.bs-calltoaction.bs-calltoaction-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

    .bs-calltoaction.bs-calltoaction-primary .cta-button .btn,
    .bs-calltoaction.bs-calltoaction-info .cta-button .btn,
    .bs-calltoaction.bs-calltoaction-success .cta-button .btn,
    .bs-calltoaction.bs-calltoaction-warning .cta-button .btn,
    .bs-calltoaction.bs-calltoaction-danger .cta-button .btn {
        border-color: #fff;
    }

.simple-login-container {
    width: 300px;
    max-width: 100%;
    margin: 50px auto;
}

    .simple-login-container h2 {
        text-align: center;
        font-size: 20px;
    }

    .simple-login-container .btn-login {
        background-color: #FF5964;
        color: #fff;
    }

.mytag {
   border-radius: 19px;
   padding:3px 10px ;
}

.lastitems {
    text-decoration: none;
    border: solid 1px white;
    border-radius: 19px;
    max-width: 200px;
    background-color: slategray;
    color: white;
    min-height: 50px;
    text-align: center;
    padding-top: 10px;
}
.lasitems:hover {
    color: green;
    border: solid 1px green;
}