﻿@model WebApp.Models.ItemModel

@{
    ViewData["Title"] = "Create";
}
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<h1>Create</h1>

<h4>New Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Item" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            @for (var i = 0; i < Model.PropInt.Count; i++)
            {
                <div class="mb-3">
                    <label asp-for="PropInt[i].Name">@Model.PropInt[i].Name</label>
                    <input asp-for="PropInt[i].Value" class="form-control" />
                    <span asp-validation-for="PropInt[i].Value" class="text-danger"></span>
                    <input asp-for="PropInt[i].Name" hidden value="@Model.PropInt[i].Name" />
                </div>
            }

            @for (var i = 0; i < Model.PropStr.Count; i++)
            {
                <div class="mb-3">
                    <label asp-for="PropStr[i].Name">@Model.PropStr[i].Name</label>
                    <input asp-for="PropStr[i].Value" class="form-control" />
                    <span asp-validation-for="PropStr[i].Value" class="text-danger"></span>
                    <input asp-for="PropStr[i].Name" hidden value="@Model.PropStr[i].Name" />
                </div>
            }
            @for (var i = 0; i < Model.PropBools.Count; i++)
            {
                <div class="mb-3">
                    <label asp-for="PropBools[i].Name">@Model.PropBools[i].Name</label>

                    @*<input asp-for="PropBools[i].Value" class="form-control" />*@

                    <div class="form-check">
                        <input asp-for="PropBools[i].Value" class="form-check-input" type="radio" id="true" value="@true" checked>
                        <label class="form-check-label" for="true">
                            True
                        </label>
                    </div>
                    <div class="form-check">
                        <input asp-for="PropBools[i].Value" class="form-check-input" type="radio" id="false" value="@false">
                        <label class="form-check-label" for="false">
                            False
                        </label>
                    </div>

                    <span asp-validation-for="PropBools[i].Value" class="text-danger"></span>
                    <input asp-for="PropBools[i].Name" hidden value="@Model.PropBools[i].Name" />
                </div>
            }
            @for (var i = 0; i < Model.PropText.Count; i++)
            {
                <div class="mb-3">
                    <label asp-for="PropText[i].Name">@Model.PropText[i].Name</label>
                    <textarea asp-for="PropText[i].Value" class="form-control"></textarea>
                    <span asp-validation-for="PropText[i].Value" class="text-danger"></span>
                    <input asp-for="PropText[i].Name" hidden value="@Model.PropText[i].Name" />
                </div>
            }

            <div class="mb-3">
                <input asp-for="TagText" type="text" class="form-control" id="inputTags" placeholder="Add tag:">
            </div>
            <div class="form-group">
                <input asp-for="UserCollId" hidden class="form-control" value="@Model.UserCollId" />
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Get" asp-route-id="@Model.UserCollId">Back to List</a>
</div>




@section Scripts {

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(document).ready(function () {

         $(function () {

        function split(val) {
            return val.split(/,\s*/);
        }
        function extractLast(term) {
            return split(term).pop();
        }

        $("#inputTags")
      // don't navigate away from the field on tab when selecting an item
      .on("keydown", function (event) {
          if (event.keyCode === $.ui.keyCode.TAB &&
              $(this).autocomplete("instance").menu.active) {
              event.preventDefault();
          }
      })
        .autocomplete({
            minLength: 0,
            source: function (request, response) {
                $.getJSON('@Url.Action("AutoComplete","Tag")',
                {
                    term: extractLast(request.term)
                }, response);
            },
            focus: function () {
                // prevent value inserted on focus
                return false;
            },
            select: function (event, ui) {
                var terms = split(this.value);
                // remove the current input
                terms.pop();
                // add the selected item
                terms.push(ui.item.value);
                // add placeholder to get the comma-and-space at the end
                terms.push("");
                this.value = terms.join(", ");
                return false;
            }
        });
    })
    });
</script>

    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
