﻿@using WebApp.Models
@model ItemModel

<div class="card mb-3">
    <div class="card-header">
        <h5 class="card-title">@Model.Name</h5>
    </div>
    <div class="card-body">
        @foreach (var prop in Model.PropInt)
        {
            <p>@prop.Name : @prop.Value</p>
        }
        @foreach (var prop in Model.PropStr)
        {
            <p>@prop.Name : @prop.Value</p>
        }
        @foreach (var prop in Model.PropBools)
        {
            <p>@prop.Name : @prop.Value</p>
        }
        @foreach (var prop in Model.PropText)
        {
            <p>@prop.Name : @prop.Value</p>
        }
    </div>
    <div class="card-footer">
        <p>
            @Model.Likes.Count()
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
            </svg>
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-default btn-lnk" id="btnLike">Like</a>
                <input type="hidden" id="userId" value="@Model.Id" />
            }
        </p>
        <p>
            Tags:</>
            <div class="col-xs-12" style="display:inline-block">
                @foreach (var i in Model.Tags)
                {
                    <a asp-area="" asp-controller="Home" asp-action="SearchTag" asp-route-search="@i.Text" class="btn btn-secondary mytag">@i.Text</a>
                }
            </div>

            <div class="row">
                <div class="col-md-12">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @await Html.PartialAsync("~/Views/Comment/_Create.cshtml",new WebApp.Models.CommentModel(){ItemId = Model.Id, CollId = Model.UserCollId})
                    }

                    <div class="update">
                        <ul class="media-list allcomments">
                            @foreach (var com in Model.Comments.ToList())
                            {
                                <li class="media">
                                    <div class="comment">
                                        <div class="media-body">
                                            <strong class="text-success">@com.User.UserName</strong>
                                            <span class="text-muted">
                                                <small class="text-muted"> @com.CreatedDate.ToLongDateString()</small>
                                            </span>
                                            <p>
                                                @com.Text
                                            </p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
    </div>
</div>

@section Scripts
{
<script>
    $(document).ready(function () {

        var a = $("#userId").val();

        $("#btnLike").click(function () {

            $.ajax({
                type: "POST",
                url: "@Url.Action("AddLike", "Like")",
                data:
                {
                    ItemId: a,
                },
                success: function (result) {
                    if(result){window.location.reload();}
                    else{ alert("Error!"); }
                }
            });
        });
    });

    setInterval(()=>{
    $.get(@Model.Id).then(function(html)
    {
        var list = $(".allcomments", html);
        $(".update").html(list);
    });
    },5000);

</script>
}