﻿@using System.Security.Claims
@using Westwind.AspNetCore.Markdown
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
}
@model HomeIndexModel

<head>
    <link href="~/css/site.css" type="text/css" />
</head>


<div class="text-center">
    <h1 class="display-4">@Localizer["Header"]</h1>
</div>

<h1>Tags:</h1>
<p>
    <div class="col-xs-12" style="display:inline-block;">
        @foreach (var coll in Model.Tags)
        {
            <a asp-area="" asp-controller="Home" asp-action="SearchTag" asp-route-search="@coll.Text" class="btn btn-secondary mytag">@coll.Text</a>
        }
    </div>
</p>

<div class="text-center">
    <h1 class="display-6">Last added:</h1>
</div>

<div class="row" style="justify-content: space-around;">
    @foreach (var item in Model.Items)
    {
        <a asp-action="GetById" asp-controller="Item" asp-route-id="@item.Id" class="lastitems">
            <div class="col">@item.Name</div>
        </a>
    }
</div>

<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-3 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-3 justify-content">
        @foreach (var coll in Model.Collections)
        {
            <div class="col mb-5">
                <div class="card h-100">
                    <a asp-action="GetById" asp-controller="UserColl" asp-route-id="@coll.Id" style="text-decoration: none;">
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">@coll.Items.Count() @Localizer["Count"]</div>
                        <img class="card-img-top" src="@coll.Image" alt="Generic placeholder image" style="max-height:200px">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">@coll.Name</h5>
                                <div>@(Markdown.ParseHtmlString(coll.Description.ToString()))</div>
                                <p class="card-text">@Localizer["Theme"]: @coll.Theme.Name</p>
                                <p class="card-text">@Localizer["Created"] @coll.User.UserName</p>
                            </div>
                        </div>
                    </a>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"></div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts
{
}