﻿@using System.Security.Claims
@using WebApp.Models

@model List<ItemModel>

<head>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<div class="container">
    <div class="col-sm-12">
        @foreach (var item in Model.ToList())
        {
            <div class="bs-calltoaction bs-calltoaction-info">
                <div class="row">
                    <div class="col-md-9 cta-contents">
                        <h1 class="cta-title">@item.Name</h1>
  @*                      <div class="cta-desc">
                            @foreach (var prop in item.PropInt)
                            {
                                <p>@prop.Name : @prop.Value</p>
                            }
                            @foreach (var prop in item.PropStr)
                            {
                                <p>@prop.Name : @prop.Value</p>
                            }
                            @foreach (var prop in item.PropBools)
                            {
                                <p>@prop.Name : @prop.Value</p>
                            }
                            @foreach (var prop in item.PropText)
                            {
                                <p>@prop.Name : @prop.Value</p>
                            }
                        </div>*@
                    </div>
@*                    <div class="col-md-3 cta-button">
                        @{
                            var data = new Dictionary<string, string> { { "Id", item.Id.ToString() }, { "UserId", item.UserId.ToString() } };
                        }*@
                        <div class="btn-group-vertical">
                            <a asp-action="GetById" asp-controller="Item" asp-route-id="@item.Id" class="btn btn-lg btn-block btn-info">More info</a>
                           @* @if (@item.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                            {
                                <form asp-action="DeleteItem" asp-all-route-data="data" method="post">
                                    <a asp-action="EditItem" asp-route-id="@item.Id" class="btn btn-lg btn-block btn-info">Edit</a>
                                    <button type="submit" class="btn btn-lg btn-block btn-info" style="width:120.72px">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg>Delete
                                    </button>
                                </form>
                            }
                        </div>*@
                    </div>
                </div>
            </div>
        }
    </div>
</div>