﻿@using System.Security.Claims
@using WebApp.Models
@model HomeIndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="row" style="justify-content: space-around;">
    @foreach (var item in Model.Items)
    {
        <a asp-action="GetById" asp-controller="Item" asp-route-id="@item.Id" class="lastitems">
            <div class="col">@item.Name</div>
        </a>
    }
</div>

<div class="d-flex flex-wrap">
    @foreach (var coll in Model.Collections)
    {
        <div class="col-4" style="margin:auto">
            <div class="card" style="width: 18rem;">
                <a asp-action="GetById" asp-controller="UserColl" asp-route-id="@coll.Id">
                    <img class="card-img-top" src="@coll.Image" alt="Generic placeholder image">
                    <div class="card-body">
                        <h5 class="card-title">@coll.Name</h5>
                        <p class="card-text"> @coll.Description</p>
                        <p class="card-text">Theme: @coll.Theme.Name</p>
                        <p class="card-text">created by @coll.User.UserName</p>
                    </div>
                </a>

                @if (@coll.User.Id ==  User.FindFirstValue(ClaimTypes.NameIdentifier))
                {
                    <div class="card-body">
                        <form asp-action="DeleteColl" asp-route-id="@coll.Id" method="post" class="row">
                        <div class="col text-center">
                            @*<a asp-action="EditColl" asp-controller="User" asp-route-id="@coll.Id" class="btn btn-danger">Edit</a>*@
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </form>
                </div>
                }
            </div>
        </div>
    }
</div>

