﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@using WebApp.Models
@model List<UserModel>

<h2>@Localizer["Title"]</h2>
<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a class="nav-link" asp-controller="Role" asp-action="Index">@Localizer["NavRole"]</a></li>
            <li class="nav-item"><a class="nav-link" asp-action="GetThemes" asp-controller="Theme">@Localizer["NavTheme"]</a></li>
        </ul>
    </div>

    <div class="col-md-9">
        @foreach (var user in Model)
        {
            <div class="card mb-3">
                <div class="card-header">Role
                    User Id: @user.Id
                </div>
                <div class="card-body">
                    <h5 class="card-title">@user.UserName</h5>
                </div>
                <div class="card-footer">
                    <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                        <a asp-action="EditUser" asp-controller="User" asp-route-id="@user.Id" class="btn btn-dark">@Localizer["Edit"]</a>
                        <a class="btn btn-dark" asp-action="Edit"  asp-controller="Role" asp-route-userid="@user.Id">@Localizer["Role"]</a>
                        <a class="btn btn-dark" asp-controller="Role" asp-action="Block" asp-route-userid="@user.Id">@Localizer["Block"]</a>
                        <a class="btn btn-dark" asp-controller="Role" asp-action="Unblock" asp-route-userid="@user.Id">@Localizer["Unblock"]</a>
                        <button type="submit" class="btn btn-dark">@Localizer["Del"]</button>
                        <a asp-action="CreateColl" asp-controller="Role" asp-route-id="@user.Id" class="btn btn-dark">@Localizer["Coll"]</a>
                    </form>
                </div>
            </div>
        }
    </div>
</div>





