﻿@page
@model LoginModel

@inject IHttpContextAccessor httpContextaccessor

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    @{
        string theme;
        if (httpContextaccessor.HttpContext.Request.Cookies["theme"] == null)
        {
            theme = "White";
        }
        else
        {
            theme = httpContextaccessor.HttpContext.Request.Cookies["theme"].ToString();
            if (theme == "White")
            {
                <link rel="stylesheet" href="~/css/white.css" />
            }
            if (theme == "Dark")
            {
                <link rel="stylesheet" href="~/css/dark.css" />
            }
        }
    }
</head>

<div class="simple-login-container">
    <h2>@Localizer["Title"]</h2>
    <div>
        <div>
            <section>
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label asp-for="Input.Email" class="form-label">@Localizer["Email"]</label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label asp-for="Input.Password" class="form-label">@Localizer["Password"]</label>
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <div style="text-align:center">
                                <label asp-for="Input.RememberMe" class="form-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @Localizer["Remember"]
                                    @*@Html.DisplayNameFor(m => m.Input.RememberMe)*@
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">@Localizer["Submit"]</button>
                        </div>
                    </div>
                    @*                    <div>
                        <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                        <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>
                        </div>*@
                </form>
            </section>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
}
