﻿@page
@model RegisterModel
@inject IHttpContextAccessor httpContextaccessor

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    @{
        string theme;
        if (httpContextaccessor.HttpContext.Request.Cookies["theme"] == null)
        {
            theme = "White";
        }
        else
        {
            theme = httpContextaccessor.HttpContext.Request.Cookies["theme"].ToString();
            if (theme == "White")
            {
                <link rel="stylesheet" href="~/css/white.css" />
            }  
            if (theme == "Dark")
            {
                <link rel="stylesheet" href="~/css/dark.css" />
            }
        }
    }
</head>

<div class="simple-login-container">
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <h2>@Localizer["Title"]</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="Input.Email">@Localizer["Email"]</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="Input.Password">@Localizer["Password"]</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        </div>
        <div class="row" style="margin-bottom:auto">
            <div class="col-md-12 form-group">
                <label asp-for="Input.ConfirmPassword">@Localizer["Confirm"]</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">@Localizer["Submit"]</button>
            </div>
        </div>
    </form>
    @*</div>*@
    @* <div class="col-md-6 col-md-offset-2">
        <section>
        <h3>Use another service to register.</h3>
        <hr />
        @{
        if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
        <div>
        <p>
        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
        article
        about setting up this ASP.NET application to support logging in via external services
        </a>.
        </p>
        </div>
        }
        else
        {
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
        <div>
        <p>
        @foreach (var provider in Model.ExternalLogins)
        {
        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
        }
        </p>
        </div>
        </form>
        }
        }
        </section>*@
</div>

@section Scripts {
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<partial name="_ValidationScriptsPartial" />
}
