﻿@model TagModel

    <p>Comments:</p>
    <form asp-action="AddTags" asp-controller="Tag" method="post">
            <textarea asp-for="Text" type="text" class="form-control" placeholder="Add tag:" rows="5"></textarea></p>
            <br>
            @*<input asp-for="ItemId" hidden value="@Model.ItemId">*@
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>