﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model ThemeModel

<form asp-action="CreateTheme" asp-controller="Theme" method="post" class="row g-3">
    <div class="col-auto">
        <h3>@Localizer["Title"]</h3>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-auto">
        <input asp-for="Name" class="form-control mb-2" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col-auto">
        <button id="Submit" type="submit" class="btn btn-secondary">@Localizer["Submit"]</button>
    </div>
</form>
