﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model List<ThemeModel>

<h2>@Localizer["Title"]</h2>
<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a class="nav-link" asp-controller="Role" asp-action="Index">@Localizer["NavRole"]</a></li>
            <li class="nav-item"><a class="nav-link" asp-action="Get" asp-controller="User">@Localizer["NavUser"]</a></li>
        </ul>
    </div>

    <div class="col-md-9">
        <table class="table">
            @foreach (var theme in Model)
            {
                <tr>
                    <td>@theme.Name</td>
                </tr>
            }
        </table>
        @await Html.PartialAsync("~/Views/Theme/_CreateTheme.cshtml", new ThemeModel())
    </div>
</div>


