﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post" class="row g-3">
   <div class="col-auto">
        <h3>@Localizer["Title"]</h3>
    </div>
    <div class="col-auto">
        <input name="name" class="form-control mb-2" />
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-secondary">@Localizer["Submit"]</button>
    </div>
</form>
