﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>@Localizer["Title"]</h2>
<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a class="nav-link" asp-action="Get" asp-controller="User">@Localizer["NavUser"]</a></li>
            <li class="nav-item"><a class="nav-link" asp-action="GetThemes" asp-controller="Theme">@Localizer["NavTheme"]</a></li>
        </ul>
    </div>

    <div class="col-md-9">
        <table class="table">
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-danger">
                                @Localizer["Del"]
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </table>
         @await Html.PartialAsync("~/Views/Role/_Create.cshtml")
    </div>
</div>