﻿@model List<WebApp.Models.UserModel>
 
<h2>Список пользователей</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-dark" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
                <a class="btn btn-sm btn-dark" asp-action="Block" asp-route-userid="@user.Id">Block</a>
                <a class="btn btn-sm btn-dark" asp-action="Unblock" asp-route-userid="@user.Id">Unblock</a>
                <a class="btn btn-sm btn-dark" asp-action="DeleteUser" asp-route-id="@user.Id" asp-controller="User">Delete</a>
                <a class="btn btn-sm btn-dark" asp-action="EditUser" asp-route-id="@user.Id" asp-controller="User">Edit</a>
            </td>
        </tr>
    }
</table>