﻿@using WebApp.Models
@model CollectionModel

<head>
    <link rel="stylesheet" href="~/css/site.css">
</head>

<body>
    <div class="container" style="min-height:800px">
        <form asp-action="CreateColl" asp-controller="UserColl" method="post" enctype="multipart/form-data" class="row">
            <h2 class="text-center">@Localizer["Title"]</h2>
            <hr />
            <div class="col align-self-center">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row g-3">
                    <div class="col-md-6">
                        <label asp-for="Name" class="form-label">@Localizer["Name"]:</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="col-md-6">
                        <label asp-for="Theme" class="form-label">@Localizer["Theme"]:</label>
                        <select asp-for="ThemeId" class="form-control form-select">
                            @foreach (var theme in Model.Themes)
                            {
                                <option value="@theme.Id">@theme.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="form-label">@Localizer["Des"]:</label>
                    <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">@Localizer["Image"]:</label>
                            <div class="preview-zone hidden">
                                <div class="box box-solid">
                                    <div class="box-header with-border">
                                        <div><b>@Localizer["Preview"]</b></div>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-danger btn-xs remove-preview">
                                                <i class="fa fa-times"></i> @Localizer["Reset"]
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body"></div>
                                </div>
                            </div>
                            <div class="dropzone-wrapper">
                                <div class="dropzone-desc">
                                    <i class="glyphicon glyphicon-download-alt"></i>
                                    <p>@Localizer["Zone"]</p>
                                </div>
                                <input type="file" name="ImageData" class="dropzone">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <h4>@Localizer["Num"]:</h4>
                <hr />
                @for (var i = 0; i < 3; i++)
                {
                    <div class="mb-3">
                        <input asp-for="PropIntName[i]" class="form-control" placeholder="@Localizer["Property"] @(i+1) @Localizer["Optional"]:"/>
                        <span asp-validation-for="PropIntName[i]" class="text-danger"></span>
                    </div>
                }
                </br>
                <h4>@Localizer["String"]:</h4>
                <hr />
                @for (var i = 0; i < 3; i++)
                {
                    <div class="mb-3">
                        <input asp-for="PropStrName[i]" class="form-control" placeholder="@Localizer["Property"] @(i+1) @Localizer["Optional"]:"/>
                        <span asp-validation-for="PropStrName[i]" class="text-danger"></span>
                    </div>
                }
                </br>
            </div>
            <div class="col">
                <h4>@Localizer["Bool"]:</h4>
                <hr />
                @for (var i = 0; i < 3; i++)
                {
                    <div class="mb-3">
                        <input asp-for="PropBoolName[i]" class="form-control" placeholder="@Localizer["Property"] @(i+1) @Localizer["Optional"]:"/>
                        <span asp-validation-for="PropIntName[i]" class="text-danger"></span>
                    </div>
                }
                </br>
                <h4>@Localizer["Text"]:</h4>
                <hr />
                @for (var i = 0; i < 3; i++)
                {
                    <div class="mb-3">
                        <input asp-for="PropTextName[i]" class="form-control" placeholder="@Localizer["Property"] @(i+1) @Localizer["Optional"]:"/>
                        <span asp-validation-for="PropTextName[i]" class="text-danger"></span>
                    </div>
                }
                </br>
            </div>
            <div class="row">
                <div class="col text-center">
                    <button id="Submit" type="submit" class="btn btn-primary">@Localizer["Create"]</button>
                </div>
            </div>
        </form>

    </div>
</body>

@section Scripts
{
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
@*<script src="function.js"></script>*@

<script>
    function readFile(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          var htmlPreview =
            '<img width="200" src="' + e.target.result + '" />' +
            '<p>' + input.files[0].name + '</p>';
          var wrapperZone = $(input).parent();
          var previewZone = $(input).parent().parent().find('.preview-zone');
          var boxZone = $(input).parent().parent().find('.preview-zone').find('.box').find('.box-body');

          wrapperZone.removeClass('dragover');
          previewZone.removeClass('hidden');
          boxZone.empty();
          boxZone.append(htmlPreview);
        };

        reader.readAsDataURL(input.files[0]);
      }
    }

    function reset(e) {
      e.wrap('<form>').closest('form').get(0).reset();
      e.unwrap();
    }

    $(".dropzone").change(function() {
      readFile(this);
    });

    $('.dropzone-wrapper').on('dragover', function(e) {
      e.preventDefault();
      e.stopPropagation();
      $(this).addClass('dragover');
    });

    $('.dropzone-wrapper').on('dragleave', function(e) {
      e.preventDefault();
      e.stopPropagation();
      $(this).removeClass('dragover');
    });

    $('.remove-preview').on('click', function() {
      var boxZone = $(this).parents('.preview-zone').find('.box-body');
      var previewZone = $(this).parents('.preview-zone');
      var dropzone = $(this).parents('.form-group').find('.dropzone');
      boxZone.empty();
      previewZone.addClass('hidden');
      reset(dropzone);
    });</script>
<partial name="_ValidationScriptsPartial" />

}
